In [ ]:
#data frame

import pandas as pd
import numpy as np

data = [[3,5,8,2],[3,5,8,1]]

s = pd.DataFrame(data)

print(s)

   0  1  2  3
0  3  5  8  2
1  3  5  8  1

In [ ]:


import pandas as pd
import numpy as np

data = [['arifa',60,50,30],['fida',40,50,20]]

s = pd.DataFrame(data)

print(s)

       0   1   2   3
0  arifa  60  50  30
1   fida  40  50  20

In [ ]:
import pandas as pd
import numpy as np

data1 = {'name':['fida','arifa','nida'],'chem':[20,40,60],'maths':[60,40,40],'phy':[45,56,36]}

df = pd.DataFrame(data1)

df['bio'] = [60,40,57]

df['total mark']= df['chem']+df['maths']+df['bio']

print(df)

    name  chem  maths  phy  bio  total mark
0   fida    20     60   45   60         140
1  arifa    40     40   56   40         120
2   nida    60     40   36   57         157

In [ ]:
import pandas as pd
import numpy as np

data1 = {'name':['fida','arifa','nida'],'chem':[20,40,680],'maths':[60,40,60],'phy':[45,56,68]}

df = pd.DataFrame(data1)

df['bio'] = [60,40,80]

df['total mark']= df['chem']+df['maths']+df['bio']

print(df)


#

list1 = []

for i in df['total mark']:
    if i <= 100:
      list1.append('blw avrg')
    elif i <= 200:
      list1.append('abw avrg')
    else:
      list1.append('exlnt')

df['status'] = list1

print(df)

    name  chem  maths  phy  bio  total mark
0   fida    20     60   45   60         140
1  arifa    40     40   56   40         120
2   nida   680     60   68   80         820
    name  chem  maths  phy  bio  total mark    status
0   fida    20     60   45   60         140  abw avrg
1  arifa    40     40   56   40         120  abw avrg
2   nida   680     60   68   80         820     exlnt

**DELETING**

In [ ]:
import pandas as pd
import numpy as np

data1 = {'name':['fida','arifa','nida'],'chem':[20,40,680],'maths':[60,40,60],'phy':[45,56,68]}

df = pd.DataFrame(data1)

df['bio'] = [60,40,80]

df['total mark']= df['chem']+df['maths']+df['bio']

print(df)


#

list1 = []

for i in df['total mark']:
    if i <= 100:
      list1.append('blw avrg')
    elif i <= 200:
      list1.append('abw avrg')
    else:
      list1.append('exlnt')

df['status'] = list1

del df['chem']

#print(df[['name','status','chem]])

print(df)

    name  chem  maths  phy  bio  total mark
0   fida    20     60   45   60         140
1  arifa    40     40   56   40         120
2   nida   680     60   68   80         820
    name  maths  phy  bio  total mark    status
0   fida     60   45   60         140  abw avrg
1  arifa     40   56   40         120  abw avrg
2   nida     60   68   80         820     exlnt

**DROP METHOD**

In [ ]:
import pandas as pd
import numpy as np

data1 = {'name':['fida','arifa','nida'],'chem':[20,40,680],'maths':[60,40,60],'phy':[45,56,68]}

df = pd.DataFrame(data1)

df['bio'] = [60,40,80]

df['total mark']= df['chem']+df['maths']+df['bio']




#

list1 = []

for i in df['total mark']:
    if i <= 100:
      list1.append('blw avrg')
    elif i <= 200:
      list1.append('abw avrg')
    else:
      list1.append('exlnt')

df['status'] = list1

print(df)

del df['chem']

df = df.drop('phy',axis=1)    #want to specify axis

print(df)

    name  chem  maths  phy  bio  total mark    status
0   fida    20     60   45   60         140  abw avrg
1  arifa    40     40   56   40         120  abw avrg
2   nida   680     60   68   80         820     exlnt
    name  maths  bio  total mark    status
0   fida     60   60         140  abw avrg
1  arifa     40   40         120  abw avrg
2   nida     60   80         820     exlnt

**POP METHOD**

In [ ]:
import pandas as pd
import numpy as np

data1 = {'name':['fida','arifa','nida'],'chem':[20,40,680],'maths':[60,40,60],'phy':[45,56,68]}

df = pd.DataFrame(data1)

df['bio'] = [60,40,80]

df['total mark']= df['chem']+df['maths']+df['bio']




#

list1 = []

for i in df['total mark']:
    if i <= 100:
      list1.append('blw avrg')
    elif i <= 200:
      list1.append('abw avrg')
    else:
      list1.append('exlnt')

df['status'] = list1

print(df)

del df['chem']

df = df.drop('phy',axis=1)    #want to specify axis

df.pop('maths')

print(df)

print(df.ndim)
print(df.size)
print(df.shape)

print(df.columns)

print(df['status'].unique())

print(df['bio'].unique())

print(df['status'].value_counts())

print(df)

    name  chem  maths  phy  bio  total mark    status
0   fida    20     60   45   60         140  abw avrg
1  arifa    40     40   56   40         120  abw avrg
2   nida   680     60   68   80         820     exlnt
    name  bio  total mark    status
0   fida   60         140  abw avrg
1  arifa   40         120  abw avrg
2   nida   80         820     exlnt
2
12
(3, 4)
Index(['name', 'bio', 'total mark', 'status'], dtype='object')
['abw avrg' 'exlnt']
[60 40 80]
status
abw avrg    2
exlnt       1
Name: count, dtype: int64
    name  bio  total mark    status
0   fida   60         140  abw avrg
1  arifa   40         120  abw avrg
2   nida   80         820     exlnt

In [ ]:
print(df)

    name  bio  total mark    status
0   fida   60         140  abw avrg
1  arifa   40         120  abw avrg
2   nida   80         820     exlnt

In [ ]:
print(df.head())

    name  bio  total mark    status
0   fida   60         140  abw avrg
1  arifa   40         120  abw avrg
2   nida   80         820     exlnt

In [ ]:
print(df.head(2))

    name  bio  total mark    status
0   fida   60         140  abw avrg
1  arifa   40         120  abw avrg

In [ ]:
print(df.tail(2))

    name  bio  total mark    status
1  arifa   40         120  abw avrg
2   nida   80         820     exlnt

In [ ]:
print(df.describe())

        bio  total mark
count   3.0    3.000000
mean   60.0  360.000000
std    20.0  398.497177
min    40.0  120.000000
25%    50.0  130.000000
50%    60.0  140.000000
75%    70.0  480.000000
max    80.0  820.000000

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3 non-null      object
 1   bio         3 non-null      int64
 2   total mark  3 non-null      int64
 3   status      3 non-null      object
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes
None

In [ ]:
print(df.sum())

name                  fidaarifanida
bio                             180
total mark                     1080
status        abw avrgabw avrgexlnt
dtype: object

In [ ]:
print(df['bio'].sum())

180

In [ ]:
print(df.sum(1))  #row wise

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(df.sum(0))

name                  fidaarifanida
bio                             180
total mark                     1080
status        abw avrgabw avrgexlnt
dtype: object

In [ ]:
print(df['bio'].mean())

60.0

In [ ]:
import pandas as pd
import numpy as np


#data = [['raju',40,60,40,40,60,12,4,6,40],['ramu',60,30,90,40,60,40],['dolu',40,50,1240,60,40]]

data1 = {'Name':['raju','ramu','sarang','raju','ramu','sarang','raju','ramu','sarang'],'chem':[40,60,40,40,60,40,40,60,40],'maths':[40,60,40,40,60,40,40,60,40],'phy':[40,60,40,40,60,40,40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50,60,48,50,60,48,50]

df['total_mark'] = df['chem']+df['maths']+df['phy']+df['bio']


print(df)

df1 = df.iloc[0:5,0:4]

print(df1)

     Name  chem  maths  phy  bio  total_mark
0    raju    40     40   40   60         180
1    ramu    60     60   60   48         228
2  sarang    40     40   40   50         170
3    raju    40     40   40   60         180
4    ramu    60     60   60   48         228
5  sarang    40     40   40   50         170
6    raju    40     40   40   60         180
7    ramu    60     60   60   48         228
8  sarang    40     40   40   50         170
     Name  chem  maths  phy
0    raju    40     40   40
1    ramu    60     60   60
2  sarang    40     40   40
3    raju    40     40   40
4    ramu    60     60   60

In [ ]:
import pandas as pd
import numpy as np


#data = [['raju',40,60,40,40,60,12,4,6,40],['ramu',60,30,90,40,60,40],['dolu',40,50,1240,60,40]]

data1 = {'Name':['raju','ramu','sarang','raju','ramu','sarang','raju','ramu','sarang'],'chem':[40,60,40,40,60,40,40,60,40],'maths':[40,60,40,40,60,40,40,60,40],'phy':[40,60,40,40,60,40,40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50,60,48,50,60,48,50]

df['total_mark'] = df['chem']+df['maths']+df['phy']+df['bio']


#print(df)

df1 = df.loc[0:4,'Name':'phy']

print(df1)

     Name  chem  maths  phy
0    raju    40     40   40
1    ramu    60     60   60
2  sarang    40     40   40
3    raju    40     40   40
4    ramu    60     60   60

In [ ]:
import pandas as pd
import numpy as np


#data = [['raju',40,60,40,40,60,12,4,6,40],['ramu',60,30,90,40,60,40],['dolu',40,50,1240,60,40]]

data1 = {'Name':['raju','ramu','sarang','raju','ramu','sarang','raju','ramu','sarang'],'chem':[40,60,40,40,60,40,40,60,40],'maths':[40,60,40,40,60,40,40,60,40],'phy':[40,60,40,40,60,40,40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50,60,48,50,60,48,50]

df['total_mark'] = df['chem']+df['maths']+df['phy']+df['bio']


#print(df)

df1 = df.at[0,'phy']

print(df1)

40

In [ ]:
import pandas as pd
import numpy as np


#data = [['raju',40,60,40,40,60,12,4,6,40],['ramu',60,30,90,40,60,40],['dolu',40,50,1240,60,40]]

data1 = {'Name':['raju','ramu','sarang','raju','ramu','sarang','raju','ramu','sarang'],'chem':[40,60,40,40,60,40,40,60,40],'maths':[40,60,40,40,60,40,40,60,40],'phy':[40,60,40,40,60,40,40,60,40]}

df = pd.DataFrame(data1)

df['bio'] = [60,48,50,60,48,50,60,48,50]

df['total_mark'] = df['chem']+df['maths']+df['phy']+df['bio']


#print(df)

df1 = df.iat[0,3]

print(df1)

40

In [ ]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a,b):
   return a+b

print(df)

df1 = df.pipe(adder,2)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
    0   1     2   3   4     5    6    7     8
0  42  62    42  42  62  14.0  6.0  8.0  42.0
1  62  32    92  42  62  42.0  NaN  NaN   NaN
2  42  52  1242  62  42   NaN  NaN  NaN   NaN

In [ ]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a**2

print(df)

df1 = df.apply(adder,axis=0)    #column wise

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
      0     1        2     3     4       5     6     7       8
0  1600  3600     1600  1600  3600   144.0  16.0  36.0  1600.0
1  3600   900     8100  1600  3600  1600.0   NaN   NaN     NaN
2  1600  2500  1537600  3600  1600     NaN   NaN   NaN     NaN

In [ ]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a**2

print(df)

df1 = df.apply(adder,axis=1)    #row wise

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
        0       1          2       3       4       5     6     7       8
0  1600.0  3600.0     1600.0  1600.0  3600.0   144.0  16.0  36.0  1600.0
1  3600.0   900.0     8100.0  1600.0  3600.0  1600.0   NaN   NaN     NaN
2  1600.0  2500.0  1537600.0  3600.0  1600.0     NaN   NaN   NaN     NaN

In [ ]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a**2

print(df)

df1 = df.apply(np.mean,axis=0)    #column wise

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0     46.666667
1     46.666667
2    456.666667
3     46.666667
4     53.333333
5     26.000000
6      4.000000
7      6.000000
8     40.000000
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a**2

print(df)

df1 = df.apply(np.mean,axis=1)    #row wise

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0     33.555556
1     53.333333
2    286.000000
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a+b

print(df)

df1 = df.apply(np.sum)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0     140.0
1     140.0
2    1370.0
3     140.0
4     160.0
5      52.0
6       4.0
7       6.0
8      40.0
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a.sum()

print(df)

df1 = df.apply(adder,axis=0)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0     140.0
1     140.0
2    1370.0
3     140.0
4     160.0
5      52.0
6       4.0
7       6.0
8      40.0
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a.sum()

print(df)

df1 = df.apply(adder,axis=1)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0     302.0
1     320.0
2    1430.0
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a.sum()

print(df)

df1 = df.apply(lambda x : x.max() - x.min() , axis = 0)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0      20.0
1      30.0
2    1200.0
3      20.0
4      20.0
5      28.0
6       0.0
7       0.0
8       0.0
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

data = [[40,60,40,40,60,12,4,6,40],[60,30,90,40,60,40],[40,50,1240,60,40]]


df = pd.DataFrame(data)


def adder(a):
   return a.sum()

print(df)

df1 = df.apply(lambda x : x.max() - x.min() , axis = 1)

print(df1)

    0   1     2   3   4     5    6    7     8
0  40  60    40  40  60  12.0  4.0  6.0  40.0
1  60  30    90  40  60  40.0  NaN  NaN   NaN
2  40  50  1240  60  40   NaN  NaN  NaN   NaN
0      56.0
1      60.0
2    1200.0
dtype: float64